<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynthSense</title>
    
</head>
<body>
    

        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-f395f038-5921-4007-88f7-7597f4caf16a"></div>
</body>
</html>

<style>
     @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


    body {
        font-family: 'Open Sans', sans-serif;
        background-image: url('https://i.imgur.com/jzIEzlo.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

   
    h1 {
        color: white;
        font-family: 'Outrun', sans-serif;
        padding: 0px 0px 0px 0px;
        text-align: center;

    }

    

</style>