<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynthSense</title>
    
</head>
<body>
    <h1><a class="link" href="/home">SynthSense</a></h1>
    <ul class="navigation">
        <li class="navbar">
            <a class="link" href="/tracks">Track List</a>
            <a class="link" href="/playlists">Playlists</a>
            <a class="link" href="/tracks/new">Add New Track</a>
            <a class="link" href="/">Logout</a>
        </li>
    </ul>
</br>
        <div class="container">
        <h2>Track List</h2>
        <ul class="track">
            <% for (let i = 0; i < tracks.length; i++) { %>
            <li>
                <a class="track" href="tracks/<%= tracks[i]._id %>"><%= tracks[i].name %> - (<%=tracks[i].artist%>)</a>
            </li>
            <% } %>
        </ul>
        </div>

</body>
</html>

<style>
     @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


    body {
        font-family: 'Open Sans', sans-serif;
        background-image: url('https://i.imgur.com/jzIEzlo.jpg');
        background-size: cover;
        background-attachment: fixed;
    }

   

    .container {
        background-color: rgba(0, 0, 0, 0.7);
        height: 350px;
        width: 400px;
        margin: auto;

        
    }

    .track {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px 10px 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
        -webkit-tap-highlight-color: transparent;
        font-family:'Montserrat', sans-serif;

    }

    .track:hover {
        color: rgb(171, 109, 221);
    }

    .track:visited {
        color: rgb(147, 102, 189);
    }

    .navigation {
        text-align: center;
        list-style: none;
        padding: 0px;

    }

    h1 {
        color: white;
        font-family: 'Outrun', sans-serif;
        padding: 0px 0px 0px 0px;
        text-align: center;

    }

    h2 {
        color: white;
        font-family: 'Outrun', sans-serif;
        padding: 15px 0px 20px 0px;
        text-align: center;

    }

    .navbar {
        padding: 18px 0px 18px 0px;
        
        
    }

    .link {
        list-style: none;
        vertical-align: baseline;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        color: rgb(255, 255, 255);
        font-family:'Montserrat', sans-serif;
        padding: 0px 20px 0px 20px;
        
        
        
    }

    .link:hover {
        color: #dadada;
    }
</style>